In [1]:
import pandas as pd

filename = 'smalldata.csv'
df = pd.read_csv(filename, sep=',')

df.head(6)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,975,9/1/2016 00:00:02,9/1/2016 00:16:18,312,Allen St & Stanton St,40.722055,-73.989111,313,Washington Ave & Park Ave,40.696102,-73.967510,22609,Subscriber,1985.0,1
1,1220,9/1/2016 00:00:04,9/1/2016 00:20:25,316,Fulton St & William St,40.709560,-74.006536,239,Willoughby St & Fleet St,40.691966,-73.981302,16966,Subscriber,1977.0,2
2,308,9/1/2016 00:00:19,9/1/2016 00:05:27,479,9 Ave & W 45 St,40.760193,-73.991255,448,W 37 St & 10 Ave,40.756604,-73.997901,25601,Subscriber,1983.0,1
3,250,9/1/2016 00:00:25,9/1/2016 00:04:35,297,E 15 St & 3 Ave,40.734232,-73.986923,487,E 20 St & FDR Drive,40.733143,-73.975739,22094,Subscriber,1953.0,1
4,439,9/1/2016 00:00:25,9/1/2016 00:07:45,494,W 26 St & 8 Ave,40.747348,-73.997236,533,Broadway & W 39 St,40.752996,-73.987216,16319,Subscriber,1985.0,1
5,730,9/1/2016 00:00:39,9/1/2016 00:12:50,491,E 24 St & Park Ave S,40.740964,-73.986022,477,W 41 St & 8 Ave,40.756405,-73.990026,23730,Subscriber,1986.0,1

In [10]:
import csv
filename = 'smalldata.csv'
with open(filename, 'r') as csvfile:
    filereader = csv.reader(csvfile, delimiter=',')
    header = next(filereader)
    for row in filereader:
        print(row[1])

9/1/2016 00:00:02
9/1/2016 00:00:04
9/1/2016 00:00:19
9/1/2016 00:00:25
9/1/2016 00:00:25
9/1/2016 00:00:39
9/1/2016 00:00:40
9/1/2016 00:00:48
9/1/2016 00:00:48
9/1/2016 00:00:50
9/1/2016 00:00:53
9/1/2016 00:00:52
9/1/2016 00:00:52
9/1/2016 00:00:56
9/1/2016 00:00:59
9/1/2016 00:01:01
9/1/2016 00:01:04
9/1/2016 00:01:09
9/1/2016 00:01:13
9/1/2016 00:01:21
9/1/2016 00:01:22
9/1/2016 00:01:39
9/1/2016 00:01:58
9/1/2016 00:01:58
9/1/2016 00:02:07
9/1/2016 00:02:15
9/1/2016 00:02:44
9/1/2016 00:02:52
9/1/2016 00:03:00
9/1/2016 00:03:09
9/1/2016 00:03:13
9/1/2016 00:03:16
9/1/2016 00:03:24
9/1/2016 00:03:24
9/1/2016 00:03:43
9/1/2016 00:03:44
9/1/2016 00:03:44
9/1/2016 00:03:50
9/1/2016 00:03:48
9/1/2016 00:03:58
9/1/2016 00:04:00
9/1/2016 00:04:23
9/1/2016 00:04:16
9/1/2016 00:04:26
9/1/2016 00:04:27
9/1/2016 00:04:34
9/1/2016 00:04:45
9/1/2016 00:04:52
9/1/2016 00:04:58

In [12]:
duration=[]
filename = 'smalldata.csv'
with open(filename, 'r') as csvfile:
    filereader = csv.reader(csvfile, delimiter=',')
    header = next(filereader)
    for row in filereader:
        duration.append(int(row[0]))
        
print(duration)

[975, 1220, 308, 250, 439, 730, 188, 776, 622, 756, 186, 1246, 1445, 1435, 1106, 1920, 441, 273, 858, 973, 976, 1707, 880, 1290, 69, 574, 432, 658, 258, 328, 486, 779, 297, 301, 2206, 768, 1602, 597, 1628, 227, 1465, 1154, 801, 279, 738, 474, 925, 638, 400]